<h1>Todas as Músicas</h1>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Duração</th>
            <th>Gênero</th>
            <th>Autores</th>
            <th>Ritmo</th>
            <th>Instrumental e Vocal</th>
        </tr>
    </thead>
    <tbody>
        <% musics.forEach(item => { %>
            <tr>
                <td><%= item.id %></td>
                <td><%= item.nome %></td>
                <td><%= item.duracao %></td>
                <td><%= item.genero %></td>
                <td><%= item.autores %></td>
                <td><%= item.ritmo %></td>
                <td><%= item.instru_vocal %></td>
                <td>
                    <a href="/musics/<%= item.id %>" class="btn btn-primary">Vizualizar</a>
                    <a href="/musics/<%= item.id %>/edit" class="btn btn-warning">Editar</a>
                    <form action="/musics/<%= item.id %>?_method=DELETE" method="POST" style="display: inline;">
                        <button type="submit" class="btn btn-danger">Deletar</button>
                    </form>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
