<h1>Detalhes</h1>
<p>ID: <%= music.id %></p>
<p>Musica: <%= music.nome %></p>
<p>Duração: <%= music.duracao %></p>
<p>Gênero: <%= music.genero %></p>
<p>Autor: <%= music.autores %></p>
<p>Ritmo: <%= music.ritmo %></p>
<p>Opicional: <%= music.instru_vocal %></p>
<a href="/musics/<%= music.id %>/edit" class="btn btn-warning">Editar</a>
<a href="/musics" class="btn btn-primary">Voltar</a>
    